<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jpgcookbook.sony">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@android:drawable/ic_menu_camera"
        android:label="JPG Cookbook"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:largeHeap="true">

        <activity
            android:name="com.github.ma1co.pmcademo.app.MainActivity"
            android:label="JPG Cookbook"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>